/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#entete-immowhat {
    font-family: 'Century Schoolbook';
}

#entete-reste {
    font-family: 'Harlow Solid';
}

#corps {
    height: 100vh;
    background-image: url("../img/Bruxelles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
}

#intro {
    margin-top: 30vh;
    text-align: center;
    color: white;
    font-family: 'Harlow Solid';
    font-size: 40px;
}

#logo {
    margin-top: 0vh;
    margin-bottom: 2vh;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputCommune {
    height: 5vh;
}

#btnCommune {
    height: 5vh;
    width: 100%;
}

#aaa {
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    li a:hover {
        color: #808080;
    }
