/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#entete-immowhat {
    font-family: 'Century Schoolbook';
}

#entete-reste {
    font-family: 'Harlow Solid';
}

#corps {
    height: 100vh;
    background-image: url("../img/Bruxelles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
}

#intro {
    margin-top: 30vh;
    text-align: center;
    color: white;
    font-family: 'Harlow Solid';
    font-size: 40px;
}

#logo {
    
    margin-bottom: 2vh;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputCommune {
    height: 5vh;
}

#btnCommune {
    height: 5vh;
    width: 100%;
}

#aaa {
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    li a:hover {
        color: #808080;
    }

.loaderRecherche {
    position: fixed;
    background-color: #FFF;
    padding: 10px;
    border: 5px solid #CCC;
    z-index: 200;
    left: 0;
    right: 0;
    width: 15%;
    bottom: 35%;
}

.loaderConnection {
    position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
    border: 5px solid #CCC;
    z-index: 200;
}

/*pour label MainPage*/
#corpsMainPage {
    height: 85vh;
}

body {
    width: 100%;
}

#header {
    height: 10vh;
    background-color: red;
    color: white;
}

#navigation {
    height: 85vh;
    background-color: green;
    color: white;
    text-align: center;
}

#menuNav {
    background-color: black;
}

#SearchMenu {
    color: white;
}

#menuInfoCommune {
    background-color: black;
    height: 5%;
    text-align: center;
}

#menuTypeBien {
    background-color: green!important;
    height: 10%;
    text-align: center;
}

#menuPrixMoyen {
    text-align: center;
    background-color: brown;
}

#carte {
    height: 85vh;
    background-color: grey;
    color: white;
}

#biens {
    height: 85vh;
    background-color: purple;
    color: white;
}

#footer {
    height: 9vh;
    background-color: blue;
    color: white;
}

#col1 {
    background-color: #4AB648;
}
#col2 {
    background-color: #76C043;
}
#col3 {
    background-color: #9ccb3b;
}
#col4 {
    background-color: #c9da2a;
}
#col5 {
    background-color: #ebe70d;
}
#col6 {
    background-color: #ffe207;
}

#col7 {
    background-color: #fec438;
}

#col8 {
    background-color: #faa84a;
}

#col9 {
    background-color: #f37132;
}

#col10 {
    background-color: #ed1c24;
}

.test {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
