/* Set padding to keep content from hitting the edges */


input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.zoneMaison {
    overflow-y: scroll;
}
#entete-immowhat {
    font-family: 'Century Schoolbook';
}

#entete-reste {
    font-family: 'Harlow Solid';
}

#corps {
    height: 100%;
    background-image: url("../img/Bruxelles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    margin-top: 5%;
    text-align: center;
    color: white;
    font-family: 'Harlow Solid';
    font-size: 40px;
}

#logo {
    
    margin-bottom: 2%;
    height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*#inputCommune {
    height: 1vh;
}

#btnCommune {
    height: 1vh;
    width: 100%;
}*/

#aaa {
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    li a:hover {
        color: #808080;
    }

.loaderRecherche {
    position: fixed;
    background-color: #FFF;
    padding: 10px;
    border: 5px solid #CCC;
    z-index: 200;
    left: 0;
    right: 0;
    width: 15%;
    bottom: 35%;
}

.loaderConnection {
    position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
    border: 5px solid #CCC;
    z-index: 200;
}

/*pour label MainPage*/

.listPOI :hover {
    color: red;
    cursor: pointer;
}

.cusorArrow :hover {
    cursor: context-menu;
}

.cusorHand :hover {
    cursor: pointer;
}

table thead tr th, tbody tr td {
    text-align: center;
}

/*---------------CSS POUR LES TOOLTIPS---------------*/

/*-----TOP */

.tooltipT {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltipT .tooltiptext {
        visibility: hidden;
        width: 90px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -45px;
        opacity: 0;
        transition: opacity 0.3s;
        white-space: pre-wrap;
    }

        .tooltipT .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

.tooltipT:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/*-----LEFT*/

.tooltipL {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltipL .tooltiptext {

        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -13px;
        right: 105%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        white-space: pre-wrap;
    }



    .tooltipL:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }



     
/*-----------------------------------------------------------------------*/





/*#cartePOI {
    height: 50%;
    width : 100%;
    background-color: grey;
    color: white;
}*/



/*html, body {
    height: 100%
}*/

/*#holder {
    min-height: 100%;
    position: relative;
}*/








/*.test {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#GroupStat {
    margin-left:1%;
    margin-right:1%;
}
#GroupStat div {
    width: 45%;
    text-align: center;
    margin:1%,1%,1%,1%;
}

.titreSecPage
{
    margin-bottom:5vh;
    background-color:forestgreen;
}
.titreSecPage {
    font-size: 2rem;
}*/


