/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navLatD {
    background-color: coral;
    height: 89vh;
}
.zoneMaison {
    height: 80vh;
    overflow-y: scroll;
}
#entete-immowhat {
    font-family: 'Century Schoolbook';
}

#entete-reste {
    font-family: 'Harlow Solid';
}

#corps {
    height: 100vh;
    background-image: url("../img/Bruxelles.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
}

#intro {
    margin-top: 30vh;
    text-align: center;
    color: white;
    font-family: 'Harlow Solid';
    font-size: 40px;
}

#logo {
    
    margin-bottom: 2vh;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inputCommune {
    height: 5vh;
}

#btnCommune {
    height: 5vh;
    width: 100%;
}

#aaa {
    text-align: center;
}

li a {
    color: black;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    li a:hover {
        color: #808080;
    }

.loaderRecherche {
    position: fixed;
    background-color: #FFF;
    padding: 10px;
    border: 5px solid #CCC;
    z-index: 200;
    left: 0;
    right: 0;
    width: 15%;
    bottom: 35%;
}

.loaderConnection {
    position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
    border: 5px solid #CCC;
    z-index: 200;
}

/*pour label MainPage*/
#corpsMainPage {
    height: 85vh;
}

body {
    width: 100%;
}

#header {
    height: 10vh;
    background-color: red;
    color: white;
}

#navigation {
    height: 85vh;
    background-color: green;
    color: black;
    text-align: center;
}

#menuNav {
    background-color: black;
    color:orange
}

#SearchMenu {
    color: white;
}

#menuInfoCommune {
    background-color: black;
    color:orange;
    height: 5%;
    text-align: center;
}

#menuTypeBien {
    background-color: green!important;
    height: 10%;
    text-align: center;
}

#menuPrixMoyen {
    text-align: center;
    background-color: brown;
}

#carte {
    height: 85vh;
    background-color: grey;
    color: white;
}
#cartePOI {
    height: 50%;
    width : 100%;
    background-color: grey;
    color: white;
}
.carte {
    height: 85vh;
}

#biens {
    height: 85vh;
    background-color: purple;
    color: white;
}

#footer {
    height: 9vh;
    background-color: blue;
    color: white;
}

.lignePrix {
    height: 100%;
    vertical-align:middle;
    padding-top:initial;
    padding-bottom:initial;
}

.test {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#GroupStat {
    margin-left:1%;
    margin-right:1%;
}
#GroupStat div {
    width: 45%;
    text-align: center;
    margin:1%,1%,1%,1%;
}

.titreSecPage
{
    margin-bottom:5vh;
    background-color:forestgreen;
}
.titreSecPage {
    font-size: 2rem;
}
#listePrix a{
    margin-left: 3%;
    margin-right: 3%;
}

