<div id="mapPoiCommune" style="width:100%; height:400px"></div>
<br />
<div class="container">
    <div class="row">
        <div id="checkZonePOI" class="col-lg-12" style="text-align:center; position:relative">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxBar" value="bars">
                <label class="form-check-label" for="checkboxBar">bars</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxEcoles" value="écoles">
                <label class="form-check-label" for="checkboxEcoles">écoles</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxHopital" value="hopitaux">
                <label class="form-check-label" for="checkboxHopital">hopitaux</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxRestaurent" value="restaurent">
                <label class="form-check-label" for="checkboxRestaurent">restaurent</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxStation" value="bus">
                <label class="form-check-label" for="checkboxStation">bus</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="checkboxPark" value="park">
                <label class="form-check-label" for="checkboxPark">park</label>
            </div>
        </div>


    </div>
    <br />
    <div class="row" style="font-size:small">
        <div class="col-lg-4">
            <h3 style="text-align:center">Hopitaux</h3>
            <ul id="hopital" class="listPOI list-group"></ul>
            <br />
            <h3 style="text-align:center">bars</h3>
            <ul id="bar" class="listPOI list-group"></ul>
        </div>
        <div class="col-lg-4">
            <h3 style="text-align:center">parcs</h3>
            <ul id="park" class="listPOI list-group"></ul>
            <br />
            <h3 style="text-align:center">resto</h3>
            <ul id="resto" class="listPOI list-group"></ul>
        </div>
        <div class="col-lg-4">
            <h3 style="text-align:center">écoles</h3>
            <ul id="ecole" class="listPOI list-group"></ul>
            <br />
            <h3 style="text-align:center">Station</h3>
            <ul id="station" class="listPOI list-group"></ul>
        </div>

    </div>
</div>
<input id="latitude" value="@ViewBag.latitude" style="display:none" />
<input id="longitude" value="@ViewBag.longitude" style="display:none" />

<script src="~/Scripts/PoiAdresseScripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&libraries=places&callback=initMap" async defer></script>
