@model ImmoWhatApp.Models.Commune

@{
    ViewBag.Title = "Graphic";
}


<div class="row">
    <div class="col-lg-3">
        <div class="col-12">
            Homegraphique-prixWaterloo
        </div>
        <div class="col-12">
            <input type="text" placeholder="waterloo" />
        </div>
        <div id="carte" class="col-lg-12">
            <div id="map" style="width:100%; height:100%;"></div>
        </div>
    </div>
    <div class="col-lg-9">
        <h3>Graphic visualization of average price</h3>
        <div class="chart-container" style="position: relative; height:40vh; width:70vw">
            <canvas id="myChart"></canvas>
        </div>
    </div>

</div>
<input id="codePost" style="display:none" value="@Model.CodePostal" />


<img id="chargement" src="~/img/loaders/infini.gif" style="display: none" alt="Chargement en cours..." class="loaderConnection col-md-offset-5 col-md-2 col-md-offset-5" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        $("#chargement").show();
        var codePost = $('#codePost').val();
        $.ajax({
            type: 'GET',
            datatype: 'json',
            url: '@Url.Action("GetJsonResultGraph", "Stat")',
            data: { codePostal: codePost, },
            success: function (donnee) {

                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'line',

                    // The data for our dataset
                    data: {
                        labels: [donnee.resultat[0].annee, donnee.resultat[1].annee, donnee.resultat[2].annee, donnee.resultat[3].annee, donnee.resultat[4].annee, donnee.resultat[5].annee],
                        datasets: [
                            {
                            label: "prix moyen villa",
                            borderColor: '#FF0004',
                            data: [donnee.resultat[0].moyennePrixVilla, donnee.resultat[1].moyennePrixVilla, donnee.resultat[2].moyennePrixVilla, donnee.resultat[3].moyennePrixVilla, donnee.resultat[4].moyennePrixVilla, donnee.resultat[5].moyennePrixVilla],
                            },
                            {
                                label: "prix moyen maison",
                                borderColor: '#B75814',
                                data: [donnee.resultat[0].moyennePrixMaison, donnee.resultat[1].moyennePrixMaison, donnee.resultat[2].moyennePrixMaison, donnee.resultat[3].moyennePrixMaison, donnee.resultat[4].moyennePrixMaison, donnee.resultat[5].moyennePrixMaison],
                            },
                            {
                                label: "prix moyen terrain",
                                borderColor: '#49FA14',
                                data: [donnee.resultat[0].moyennePrixTerrain, donnee.resultat[1].moyennePrixTerrain, donnee.resultat[2].moyennePrixTerrain, donnee.resultat[3].moyennePrixTerrain, donnee.resultat[4].moyennePrixTerrain, donnee.resultat[5].moyennePrixTerrain],
                            },
                            {
                                label: "prix moyen appartement",
                                borderColor: '#4214FA',
                                data: [donnee.resultat[0].moyennePrixAppartement, donnee.resultat[1].moyennePrixAppartement, donnee.resultat[2].moyennePrixAppartement, donnee.resultat[3].moyennePrixAppartement, donnee.resultat[4].moyennePrixAppartement, donnee.resultat[5].moyennePrixAppartement],
                            },

                        ]
                    },

                    // Configuration options go here
                    options: {
                        legend: {
                            position: 'bottom'
                        }
                    }
                });
                $("#chargement").hide();

            },
            error: function()
            {
                alert("une erreur s'est produite...")
            }
        })
    });
</script>
<script>

    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(@Model.latitude, @Model.longitude),
            zoom: 13,
        };
        var map = new google.maps.Map(document.getElementById("map"), mapProp);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHaJXOb3KVvODTc1FDLpY44cpoUctO0u0&callback=myMap"></script>




