@{
    ViewBag.Title = "Home Page";
    if (Session["moi"] != null)
    {
        ImmoWhatApp.Models.MembreModels moi = (ImmoWhatApp.Models.MembreModels)Session["moi"];
    }
}

<div id="corps" class="row">
    <span class="col-lg-12" id="intro">@Resource.slogan</span>
    <img id="logo" src="~/img/logo.png" />
    <div class="input-group mb-3 row justify-content-lg-center col-lg-12 " id="inputCommune">

        <input id="inputComm" type="text" class="form-control col-lg-3 ui-widget" placeholder="exemple : Uccle" aria-label="Recipient's username" aria-describedby="basic-addon2">

        <div class="input-group-append col-lg-1 ui-widget">
            <button id="btnValidCommune" class="btn btn-success" type="button"><span class="oi" data-glyph="magnifying-glass" title="magnifying-glass" aria-hidden="true"></span><span class="glyphicon glyphicon-envelope"></span></button>
        </div>
    </div>

</div>
<div id="modal_commune" style="display:none">
    <p id="modalTexte" class="modal-contents"></p>
</div>

<script>
    $('#test').click(function () {
        $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetAverageClass2", "Commune")',
                    success: function (donnee) {
                        reponse($.map(donnee.commune, function (objet) {
                            return {
                                label: objet.Localite + " ( " + objet.CodePostal+" )",
                                value: objet.Localite,
                                id: objet.id
                        }
                        }));
                    }
                })
    })

    var idCommune

    $(document).ready(function () {

        $("#inputComm").autocomplete({
            autoFocus: true,
            source: function (requete, reponse) {
                var name = $('#inputComm').val();
                //alert(name);
                $.ajax({
                    type: 'GET',
                    datatype: 'json',
                    data: { nom: name.toLowerCase() },
                    url: '@Url.Action("GetCommunesByNameInJson", "Commune")',
                    success: function (donnee) {
                        reponse($.map(donnee.commune, function (objet) {
                            return {
                                label: objet.Localite + " ( " + objet.CodePostal+" )",
                                value: objet.Localite,
                                id: objet.id
                        }
                        }));
                    }
                })
            },
            minLength: 3,

            select: function (event, ui) { // lors de la sélection d'une proposition
                idCommune = ui.item.id
            }

        })

    });
    $('#btnValidCommune').click(function () {
        var nomCommune = $('#inputComm').val();
         $.ajax({
                    type: 'GET',
                    datatype: 'json',
                    data: { nomCommune: nomCommune },
                    url: '@Url.Action("checkIfCommuneExists", "Commune")',
                    success: function (donnee) {
                        if (donnee.result == "OK") {
                            var nom = donnee.nom;
                            var url = "/Home/MainPage?nomCommune=" + nom;
                            window.location.href = url;
                        }
                        else {
                             $('#modalTexte').html("commune inexistante");
                             $('#modal_commune').dialog({
                            open: function (event, ui, e) { $(".ui-dialog-titlebar-close").hide(); },
                            resizable: false,
                            height: "auto",
                            width: "400",
                            modal: true,
                            title: 'commune inexistante',
                            buttons: {
                                "ok": function () { $(this).dialog("close") }
                            }
                        })
                        }
                    }
                })
    })
</script>





